# Dependencies
node_modules
node_modules/*

# Environment variables
.env*
!.env.example

# Coverage reports
coverage/
client/coverage/
*.lcov
coverage-badge.svg

# Logs
*storybook.log

# Build outputs
client/build
client/build/*

# Uploads
server/uploads
server/uploads/*
